body {
  background-color: white;
  text-align: center;
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main_body {
  border-radius: 45px 45px 0 0;
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
  background-color: white;
  padding-top: 2em;
}

.logo > img {
  max-width: 11em;
}

.res_image img {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateZ(-20em);
          transform: translateZ(-20em);
}

.rest_name {
  text-align: left;
  padding-left: 1em;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.title_right > svg {
  width: 1.7em;
  position: absolute;
}

section > p > span {
  border-bottom: 0.2em solid lightblue;
}

.listings > p {
  text-align: left;
  padding-left: 1em;
}

.menu {
  border-radius: 20em;
  display: inline;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  max-width: 85%;
  margin: 0em;
}

.order {
  border-style: solid;
  text-align: left;
  padding-left: 2em;
  border-radius: 20px;
  line-height: 0;
  max-width: 85%;
  margin: 1em;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.order:after {
  width: 0;
  height: 100%;
  position: absolute;
  background: lightblue;
  left: 100%;
  z-index: -1;
  content: url(../image/check-circle-solid.svg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-height: 1em;
}

.order:hover:after {
  left: 70%;
  width: 100%;
}

.order > * {
  display: inline-block;
}

.right {
  width: 30%;
  text-align: center;
  position: absolute;
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
  top: 50%;
  right: 0;
}

.right > img {
  max-width: 2em;
}

.footer_img {
  display: inline;
}

.logo > img {
  max-width: 11em;
}

button {
  border-radius: 25px;
  width: 12em;
  background-image: linear-gradient(70deg, #ff79da, #9356dc);
  border: 1px solid transparent;
  font-size: 1.2em;
  padding: 0.5em;
  margin: 1em;
}

.footer_list > li {
  list-style: none;
}

.footer_list > li > ul {
  display: block;
}

footer img {
  max-width: 1em;
}

.footer_img h5 {
  padding-left: 0.5em;
  display: inline;
}

footer > .logo {
  padding-left: 0.5em;
}

@media screen and (min-width: 1200px) {
  .logo > img {
    max-width: 15em;
  }
  body {
    padding-left: 5%;
    padding-right: 5%;
  }
  .how_to {
    text-align: -webkit-center;
  }
  .res_image img {
    border-radius: 50px 50px 0 0;
  }
  .order {
    max-width: 100%;
  }
  footer {
    border-radius: 25px 25px 0 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .listings {
    margin-left: 1em;
  }
  footer {
    border-radius: 25px 25px 0 0;
  }
}
